
<ng-container>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                 [fixedInViewport]="fixed" [fixedTopGap]="top"
                 [fixedBottomGap]="bottom">
      <div class = "col">
        <div class="row control-panel"><app-control-panel></app-control-panel></div> 
        <div class="row select-panel"><app-select-panel></app-select-panel></div>
      </div>           
       
    </mat-sidenav>
    <mat-sidenav-content class="example-content">
      <app-diag></app-diag>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
